<%= form_for(@restrict_email) do |f| %>
  <% if @restrict_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restrict_email.errors.count, "error") %> prohibited this restrict_email from being saved:</h2>

      <ul>
      <% @restrict_email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
