<p id="notice"><%= notice %></p>

<%=form_tag restrict_emails_path, :html => {:method => :post} do %>
 <textarea name="restrict_email[blocked_email]" id="restrict_email_blocked_email" class="form-control no-border" required="true"></textarea>
  <%= submit_tag "submit", class: "btn btn-primary pull-right" %>
<%end%>

<h1>Listing Restrict Emails</h1>
<%unless @restrict_emails.blank?%>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <%=form_tag  destroy_multiple_restrict_emails_path  ,id:'delete-form' ,method: :delete do%>
    <% @restrict_emails.each do |restrict_email| %>
      <tr>
       <td><%=check_box_tag "blocked_email[]","#{restrict_email.blocked_email+"-"+
       "#{restrict_email.id}"}"%></td>
                <td><%= restrict_email.blocked_email %></td>
      
    
      </tr>
          <% end %>

<%= submit_tag "Delete selected" ,:onclick => "return confirm('Are you sure?')" ,:class=>'btn btn-primary',:id=>'delete_multiple',:disabled=>true%>&nbsp;

    <% end %>
          <input type="submit" id="res_email" class="btn btn-primary "

  </tbody>
</table>
<%end%>


<div id="edit-form" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
<%=form_tag restrict_emails_path, :html => {:method => :post} do %>
 <input type="textarea" name="restrict_email_edit[blocked_email]" id="restrict_email_blocked_email_edit"  class="form-control no-border"></input>
 <div class="modal-footer">
  <%= submit_tag "submit", class: "btn-confirm btn btn-small btn-primary pull-right" %>
        </div>

<%end%>    
 </div>
      
    </div>

  </div>
</div>

<div id="delete-confirm" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
           <input type="submit" id="delete-pop-btn" class="btn-confirm  btn-primary pull-right">
     </div>
      
    </div>

  </div>
</div>

<br>

<script type="text/javascript">
$('#res_email').on("click", function () {
       var abc=[]

  $('input[name="blocked_email[]"]:checked').each(function() {
     abc.push(this.value.split('-')[0])

  });
  $('#restrict_email_blocked_email_edit').attr('value',abc.join())
  $('#edit-form').modal('show')

});
  $(':checkbox').change(function() {

     if ($('input[name="blocked_email[]"]:checked').length > 0){
       $('#delete_multiple').attr('disabled',false)  }
     else{
          $('#delete_multiple').attr('disabled',true)
     }

  //     $('input[name="blocked_email[]"]:checked').each(function() {
           
  //       $('#delete_multiple').attr('disabled',false)
  // });  

  //    $('input[name="blocked_email[]"]:checkbox:not(:checked)').each(function() {
           
  //       $('#delete_multiple').attr('disabled',true)
  // });// do stuff here. It will fire on any checkbox change

}); 

</script>